<mat-card>
  <mat-card-header>
    <mat-card-subtitle>莒县小店中心初中喜迎市教研室“送教下乡”活动"</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <img src="https://m.newscdn.cn/e2912977-a683-4516-8f96-76b3d42b1fdc.jpg">
        <img src="https://m.newscdn.cn/69f2ed00-660b-4af7-b115-9e8b2993dd37.jpg">
        <img src="https://m.newscdn.cn/b48cead5-5c7f-4fda-8e68-44cec9723c0a.jpg">
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-content>
  <mat-divider></mat-divider>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-subtitle>烟台山医院举办世界男性健康日义诊活动</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <img src="https://m.newscdn.cn/a9c8b784-679a-42cd-9d50-a5d1983b4099.png">
        <img src="https://m.newscdn.cn/0dec7b4d-c7a7-4f06-859d-494d431cd222.png">
        <img src="https://m.newscdn.cn/0c401b93-c9f6-4911-bcd6-10109da4a921.jpg">
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-content>
  <mat-divider></mat-divider>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-subtitle>真实体验自救互救技能 平度舞台剧表演宣传应急知识</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <img src="https://m.newscdn.cn/8ec7e825-a965-47cc-b689-2f735094415f.jpg">
        <img src="https://m.newscdn.cn/0c401b93-c9f6-4911-bcd6-10109da4a921.jpg">
        <img src="https://m.newscdn.cn/f6e9c517-c097-4106-b94c-3ba7ac06e31a.jpg">
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-content>
  <mat-divider></mat-divider>
</mat-card>