<h1 id="top">组件交互方式</h1>

<div id="parent-to-child">
  <app-user-parent></app-user-parent>
</div>
<a href="#top" class="to-top">回到顶部</a>

<hr>
<div id="parent-to-child-setter">
  <app-name-parent></app-name-parent>
</div>
<a href="#top" class="to-top">回到顶部</a>

<hr>
<div id="parent-to-child-on-changes">
  <app-version-parent></app-version-parent>
</div>
<a href="#top" class="to-top">回到顶部</a>

<hr>
<div id="child-to-parent">
  <app-vote-taker></app-vote-taker>
</div>
<a href="#top" class="to-top">回到顶部</a>
<hr>

<div id="parent-to-child-local-var">
  <app-countdown-parent-lv></app-countdown-parent-lv>
</div>
<a href="#top" class="to-top">回到顶部</a>
<hr>

<div id="parent-to-view-child">
  <app-countdown-parent-vc></app-countdown-parent-vc>
</div>
<a href="#top" class="to-top">回到顶部</a>
<hr>

<div id="bidirectional-service">
  <app-mission-control></app-mission-control>
</div>
<a href="#top" class="to-top">回到顶部</a>
<hr>
